.menu-items {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item h3 {
  margin: 0;
}

.menu-item p {
  margin-top: 5px;
}

.menu-item button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.menu-item button:hover {
  background-color: #0056b3;
}

img {
  width: 150px;
  height: 90px;
}
.MenuName {
  text-align: center;
}
